@use "./variables" as *;
@use "./mixins" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}

body {
  background-color: $white;
  font-family: $ff-SansPro;
}

header,
footer {
  height: 100px;
}

header {
  @include flex-display(space-between, initial, initial);
}

footer {
  background-color: $gray;
  border-radius: 5px 5px 0px 0px;
}

main {
  height: 530px;
  padding: 60px 0;
}

h1 {
  @include text(32px, $blue, $fw-bold, 38px);
}
p {
  @include text(18px, $blackish, $fw-normal, 26px);
}

img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.container {
  max-width: 941px;
  width: 100%;
  margin: 0 auto;
}
