@use "./variables" as *;

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  border: 0;
}

body {
  background-color: $white;
  font-family: $ff-SansPro;
}

header,
footer {
  height: 100px;
}

header {
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: $gray;
  border-radius: 5px 5px 0px 0px;
}

main {
  height: 530px;
  padding: 60px 0;
}

h1 {
  color: $blue;
  font-size: 32px;
  line-height: 38px;
  text-align: left;
  font-weight: $fw-bold;
}
p {
  color: $blackish;
  font-size: 18px;
  line-height: 26px;
  text-align: left;
  font-weight: $fw-normal;
}
h1,
p {
  letter-spacing: -0.2px;
}

img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.container {
  max-width: 941px;
  width: 100%;
  margin: 0 auto;
}
