@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

$ff-SansPro: "Source Sans Pro", sans-serif;

$fw-bold: 700;
$fw-normal: 400;

$blue: #134880;
$gray: #dddddd;
$white: #f2f2f2;
$blackish: #484a4c;
