:root {
  --blue: #134880;
  --gray: #dddddd;
  --white: #f2f2f2;
}

*,
*::after,
*::before {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--white);
}

.container {
  max-width: 941px;
  max-height: 730px;
  height: 100%;
  width: 100%;
  margin: 0 auto;
}

header,
footer {
  height: 100px;
  display: flex;
  justify-content: space-between;
}

footer {
  background-color: var(--gray);
}

.box {
  background-color: var(--gray);
  height: 100%;
  border-radius: 0px 0px 5px 5px;
}

.box1 {
  width: 301px;
}
.box2 {
  width: 621px;
}

main {
  display: flex;
  padding: 3em 0;
}

h1 {
  color: var(--blue);
  font-size: 2rem;
  line-height: 1.171875;
  letter-spacing: -0.2px;
}

p {
  font-size: 1.125rem;
  line-height: 1.444;
  letter-spacing: -0.2px;
  text-align: left;
}

img {
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.main-container {
  display: flex;
  margin: auto 0;
}
.slider {
  flex: 2;
  height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  gap: 8px;
}

.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}

.wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
}

.wrapper1 {
  width: 600px;
}

.wrapper2 {
  width: 500px;
}

.row {
  position: absolute;
  top: 0%;
  right: 0;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.button-container {
  position: absolute;
  bottom: 20%;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button {
  width: 60px;
  height: 60px;
  border: 1px solid var(--blue);
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-size: 9.98px 16px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s ease;
}

button:hover {
  border-color: var(--gray);
}

.left-button {
  background-image: url(./images/arrow-blue-left.png);
}
.right-button {
  background-image: url(./images/arrow-blue-right.png);
}

.left-button:hover {
  background-image: url(./images/arrow-gray-left.png);
}
.right-button:hover {
  background-image: url(./images/arrow-gray-right.png);
}
