@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  border: 0;
}

body {
  background-color: #f2f2f2;
  font-family: "Source Sans Pro", sans-serif;
}

header,
footer {
  height: 100px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
}

footer {
  background-color: #dddddd;
  border-radius: 5px 5px 0px 0px;
}

main {
  height: 530px;
  padding: 60px 0;
}

h1 {
  font-size: 32px;
  color: #134880;
  line-height: 38px;
  font-weight: 700;
  text-align: left;
  letter-spacing: -0.2px;
}

p {
  font-size: 18px;
  color: #484a4c;
  line-height: 26px;
  font-weight: 400;
  text-align: left;
  letter-spacing: -0.2px;
}

img {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: relative;
}

.container {
  max-width: 941px;
  width: 100%;
  margin: 0 auto;
}

button {
  width: 60px;
  height: 60px;
  border: 1px solid #134880;
  border-radius: 5px;
  cursor: pointer;
  background-size: 9.98px 16px;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

button:hover {
  border-color: #dddddd;
}

.left-button {
  background-image: url(/images/arrow-blue-left.png);
}

.right-button {
  background-image: url(/images/arrow-blue-right.png);
}

.left-button:hover {
  background-image: url(/images/arrow-gray-left.png);
}

.right-button:hover {
  background-image: url(/images/arrow-gray-right.png);
}

.box {
  background-color: #dddddd;
  height: 100%;
  border-radius: 0px 0px 5px 5px;
}

.box1 {
  width: 301px;
}

.box2 {
  width: 621px;
}

.main-container {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: initial;
  -webkit-box-direction: initial;
      -ms-flex-direction: initial;
          flex-direction: initial;
  gap: 10px;
  overflow-x: hidden;
}

.text {
  width: 300.93px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: initial;
      -ms-flex-align: initial;
          align-items: initial;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.button-container {
  width: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 10px;
}